*{
    margin:0;
    margin-top: initial;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;
}
/*navigation bar*/
#navbar{
    display:flex;
    align-items:center;
    position:relative;
    top:0px;
}
#navbar::before{
    content:"";
    background-color:black;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity: 0.4;
}
/*logo*/
#logo{
    margin:10px 34px;
}
#logo img{
    height:59px;
    margin:3px 6px;
}

/*navigation bar*/
#navbar ul{
    font-family: 'Baloo Bhai 2', cursive;
    display:flex;
    list-style: none;
}
#navbar ul li{
    /* color:white; */
    /* list-style: none; */
    size:1.3rem;
}
#navbar ul li a{
    color:white;
    display:block;
    padding:3px 22px;
    border-radius:10px;
    text-decoration:none; 
}
#navbar ul li a:hover{
    color:black;
    background-color:white; 
}

/*Home Section*/
#home{
    display:flex;
    height:578px;
    flex-direction:column;
    padding:3px 200px;
    justify-content: center;
    align-items:center;
}
#home::before{
    content:"";
    background:url('../bg1.jpg') no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px;
    height:72%;
    width:100%;
    z-index:-1;
    opacity: 0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    font-size:1.8rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/*service section*/
#services{
    margin:10px;
    display:flex;
    
}
#services .box{
    border:2px solid brown;
    padding:34px;
    margin:10px 6px;
    border-radius:23px;
    background-color:bisque;
}
#services .box img{
    height:160px;
    margin:auto;
    display:block;
}

/*CLient section*/
#client-section{
    height:344px;
    /* position:relative; */
}
#client-section::before{
    content:"";
    position:absolute;
    background: url('../bg.jpg');
    width:100%;
    height:40%;
    z-index:-1;
    opacity:0.6;
}
#clients{
    display:flex;
    justify-content:center;
    align-items:center;
}
#clients img{
    height:124px;
    margin:40px;
}

/*contact section*/
#contact{
    position:relative;
    margin-top:27px;
}
#contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.7;
    background:url('../contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display:flex;
    align-items:center;
    justify-content:center;
}
.form-group{
    display:flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content:center;
}
.form-group label{
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;
    padding-top:4px;
}
.form-group input{
    width:30rem;
    height:1.3rem;
    border-radius:5px;
}
/*footer decoration*/
footer{
    background-color: black;
    color:white;
    padding:9px 23px;
}

/*uitilty class*/
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size:3.8rem;
    padding:12px;
}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size:2.3rem;
    padding:12px;
}
.center{
    text-align:center;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color:brown;
    color:white;
    margin:17px;
    font-family: 'Bree Serif', serif;
    font-size:1.5rem;
    cursor:pointer;
    border-radius:10px;
}
